
body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, label, button {
    font-family: 'Raleway', sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 58px;
    margin-bottom: 10px;
}

/* Navbar Styles */
nav {
    display: flex;
    justify-content: center;
    background-color: #555; /* Couleur de fond de la barre de navigation */
    padding: 30px; /* Espacement intérieur de la barre de navigation */
}

nav a {
    color: lightskyblue; /* Couleur du texte de la barre de navigation */
    text-decoration: none;
    margin: 0 5px;
    display: inline-block; /* Afficher les liens comme des blocs en ligne pour les traiter comme des boutons */
    padding: 10px 15px; /* Ajouter un espace à l'intérieur du bouton */
    font-size: 16px; /* Changer la taille du texte */
    border: 1px solid lightskyblue; /* Ajouter une bordure autour du bouton */
    border-radius: 15px;
}

nav a:hover {
    text-decoration: underline; /* Soulignement du texte au survol */
}

body {
    background-color: darkgray;
    color: #333;
    font: 1.0em / 1.5 Helvetica Neue, Helvetica, Arial, sans-serif;
    padding: 2px;
    margin: 2px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    max-width: 1000px;
    margin: 1em auto;
}

.card {
    background-color: rgb(128, 128, 128);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: fill;

}

.card header, .card footer {
    background-color: #444;
    color: #fff;
    padding: 0.5rem;
}

.card h2 {
    margin: 0;
    padding: 0.5rem;
}

.card footer .button-default {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    color: #ffffff;
    background-color: #3498db;
    border: 1px solid #2980b9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.card footer .button-default:hover {
    background-color: #2980b9;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 15px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Style par défaut du bouton */
.button-default {
    color: #ffffff;
    background-color: #3498db;
    border: 1px solid #2980b9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style au survol du bouton */
.button-default:hover {
    background-color: #2980b9;
}
.color-red{
    color: red;
}

@media screen and (max-width: 600px) {
    form {
        max-width: 100%;
    }
}

